<header class="p-3 text-bg-dark">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="#">Step in the Future</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">All Topic</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-bg-dark" href="#" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Topic Create</a></li>
            <li><a class="dropdown-item" href="#">Author Create</a></li>
            <li><a class="dropdown-item" href="#">Category Create</a></li>
          </ul>
        </li>
      </ul>

      <div class="text-end">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" type="button" class="btn btn-outline-light me-2">Logout</a>

        {% if request.user.status == 'A' %}
        <a href="{% url 'admin:index' %}" type="button" class="btn btn-outline-light me-2">admin</a>
        {% endif %}

        {% else %}
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
        <a href="{% url 'register' %}" type="button" class="btn btn-outline-light me-2">Sign-up</a>

        {% endif %}
        
      </div>
    </div>
  </div>
</header>
