{% extends '../common/_base.html' %}
{% block content %}

<!-- Test and created questions -->
<div class="p-1 row justify-content-lg-center">
    <div class="col col-md-7">

        <div class="h-100 p-5 bg-light border rounded-3">
            <h1>Тест</h1>
            <h4>Название теста: {{ test.title }}</h4>
            <br>
            <h5>Содержимое:</h5>
            <div class="border">
                {{ test.note|safe }}
            </div>
            <br>
            <h5>Автор: {{ test.author }}</h5>
            <br>
            <a href="{% url 'test_update' test.pk %}" class="btn btn-primary">Изменить</a>
            <p></p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for element in m2m %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading{{ element.question.pk }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse{{ element.question.pk }}" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapse{{ element.question.pk }}">
                            {{ element.question.pk }}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse{{ element.question.pk }}" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-heading{{ element.question.pk }}">
                        <div class="accordion-body" style="word-wrap: break-word;">
                            <p>{{ element.question.note|safe }}</p>
                            <p>{{ element.question.score }}</p>
                            <p>{{ element.question.question_type }}</p>
                            <br>
                            <div class="d-flex flex-wrap justify-content-lg-start">
                                <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                    <a href="{% url 'question_update' element.question.pk test.pk %}"
                                        class="btn btn-primary">Изменить</a>
                                    <a href="{% url 'question_delete' element.question.pk test.pk %}"
                                        class="btn btn-danger">Удалить</a>
                                </div>
                                <div class="text-end">
                                    <a href="{% url 'input_create' element.question.pk %}" class="btn btn-primary text-end">Добавить ответ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
</div>

<!-- Creating Question -->
<div class="p-1 row justify-content-lg-center">
    <div class="col col-md-7">

        <div class="h-100 p-5 bg-light border rounded-3">
            <h1>Вопрос</h1>
            <form method="POST">
                {% csrf_token %}

                Содержимое запроса
                {{ form.media }}
                <br>
                {{ form.note }}
                <br>
                Кол-во баллов
                {{ form.score }}
                <br>
                Тип вопроса
                {{ form.question_type }}
                <br>
                <input class="btn btn-primary" type="submit" />
            </form>



        </div>
    </div>
</div>


{% endblock %}